@charset "UTF-8";

table {
    width: 275px;
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
}

tr {
    border-bottom: 1px solid grey;
    width: 25%;
}

th {
    font-weight: 1000;
    border: 1px solid grey;
    min-width: 50px;
}

td {
    border: 1px solid grey;
    min-width: 50px;
}

.red {
    background-color: rgb(204, 69, 69);
}

.black {
    background-color: rgb(34, 34, 34);
    color: white;
}

.pair {
    background-color: lightblue;
}

.impair{
    background-color:lightgoldenrodyellow;
}

.pass {
    background-color: lightgreen;
}

.fail {
    background-color: lightcoral;
}